<%- include('partials/header.ejs')  %>
   

    <div class="flex  bg-gray-100 justify-center items-center gap-4 flex-wrap mb-20">

        <% posts.forEach(post => { %>
   
            <a href =<%=`show/${posts.indexOf(post)}`%>>
                <div class="flex flex-col w-72 h-96 bg-white rounded-lg cursor-pointer hover:scale-105 border-2 shadow-xl">
                    <img src="images/thumbnail.png" class="h-72 w-72 rounded-lg shadow-sm">
                    <div class="flex flex-col gap-0 p-1 rounded-lg">
                        <h1 class="text-lg text-black"><%= post.title %></h1>
                        <p class="text-sm text-gray-500 font-sans">
                            <%= post.body.slice(0, 100) + "..."  %>
                        </p>
                    </div>
                </div>
            </a>
        <%}); %>

    </div>
    <a href="/new-post">
        <div class="fixed bottom-16 right-6 bg-black text-white px-2 py-1 rounded-full text-sm cursor-pointer">
            New
        </div>
    </a>

    <%- include('partials/footer.ejs')  %>